@font-face {
  font-family: 'Evogria';
  src: local('Evogria'), url('../../dist/fonts/evogria.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('../../dist/fonts/bebasneueregular.woff2') format('woff2'), url('../../dist/fonts/bebasneueregular.woff') format('woff'), url('../../dist/fonts/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('../../dist/fonts/bebasneuebold.woff2') format('woff2'), url('../../dist/fonts/bebasneuebold.woff') format('woff'), url('../../dist/fonts/bebasneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../../dist/fonts/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../../dist/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),   url('../../dist/fonts/Gilroy-Light.woff') format('woff'),   url('../../dist/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../../dist/fonts/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),   url('../../dist/fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),   url('../../dist/fonts/Gilroy-ExtraBold.woff') format('woff'),   url('../../dist/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


body {
  font-family: 'Bebas Neue' ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: #fff;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'Evogria', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
}
.product-section {
  background-image: url("../../dist/images/illustration1.png"), -webkit-linear-gradient(271deg, rgba(255, 92, 139, 0.92) 0%, rgba(255, 91, 139, 0.92) 100%);
  background-image: url("../../dist/images/illustration1.png"), -o-linear-gradient(271deg, rgba(255, 92, 139, 0.92) 0%, rgba(255, 91, 139, 0.92) 100%);
  background-image: url("../../dist/images/illustration1.png"), -ms-linear-gradient(271deg, rgba(255, 92, 139, 0.92) 0%, rgba(255, 91, 139, 0.92) 100%);
  background-image: url("../../dist/images/illustration1.png"), -moz-linear-gradient(271deg, rgba(255, 92, 139, 0.92) 0%, rgba(255, 91, 139, 0.92) 100%);
  background-image: url("../../dist/images/illustration1.png"), linear-gradient(179deg, rgba(255, 92, 139, 0.92) 0%, rgba(255, 91, 139, 0.92) 100%);
  background-position: center center;
  padding: 150px 0;

  .row {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      display: block;
      width: calc(100% - 30px);
      height: 20px;
      left: 15px;
      top: 57%;
      z-index: 1;
      background-image: url("../../dist/images/board.png");
      background-size: cover;
    }
  }
}

.product-item {
  .inner  {
    padding: 0 7px;
    background: -moz-linear-gradient(top,  rgba(132,65,82,0) 0%, rgba(132,65,82,0.02) 45%,rgba(132,65,82,0.15) 85%, rgba(132,65,82,0.25) 95%, rgba(132,65,82,0.03) 100%);
    background: -webkit-linear-gradient(top,  rgba(132,65,82,0) 0%, rgba(132,65,82,0.02) 45%,rgba(132,65,82,0.15) 85%, rgba(132,65,82,0.25) 95%, rgba(132,65,82,0.3) 100%);
    background: linear-gradient(to bottom,  rgba(132,65,82,0) 0%, rgba(132,65,82,0.02) 45%,rgba(132,65,82,0.15) 85%, rgba(132,65,82,0.25) 95%, rgba(132,65,82,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
  }

  &__desc {
    padding: 5px 30px 40px;
  }
}

.pi-desc {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0px;

  &__title {
    text-transform: uppercase;
  }

  &__price {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;

    .sale {
      font-size: 60px;
      line-height: 1em;
      margin-right: 5px;
    }
    .old {
      text-decoration: line-through;
    }
  }
  &__quantity-block {
    display: flex;
    justify-content: center;
  }
  &__quantity {
    text-decoration: none;
    position: relative;
    color: #fff;
    line-height: 50px;
    width: 60px;

    span {
      display: block;
      padding-left: 10px;
      width: 60px;
      border-bottom: 3px solid #fff;
    }

    &:after {
      position: absolute;
      content: "";
      top: 20px;
      left: 40px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
      pointer-events: none;
    }
  }

  &__cart-btn {
    color: #fff;
    border-radius: 30px;
    border: 3px solid #fff;
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    transition: all 0.5s;

    &:hover, &:focus {
      background-color: #ff8b24;
      border: 3px solid #ff8b24;
      transition: all 0.5s;
    }
  }
}

.quantity-list {
  //max-height: 180px;
  height: 0;
  width: 120px;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  //padding-top: 15px;
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.004);
  position: absolute;
  top: 53px;
  left: -30px;
  transition: height 1s;

  &::-webkit-scrollbar {
    width: 3px;
    background: rgba(132,65,82,0.15);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #844152;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(132,65,82,0.15);
  }
  li {
    position: relative;
    counter-increment: custom;
    line-height: 40px;
    z-index: 1;

    &:before {
      content: counter(custom) " ";
    }
    &:first-child {
      margin-top: 15px;
      counter-reset: custom;
    }
    &:after {
      position: absolute;
      content: "";
      width: 40px;
      height: 35px;
      display: block;
      border-radius: 5px;
      background-color: #844152;
      opacity: 0;
      top: 2px;
      left: -15px;
      transition: opacity 0.5s;
    }
  }
  li:hover:after {
    opacity: 0.3;
    transition: opacity 0.5s;
  }
}

.modal-block {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  margin-left: 0;

  .modal-inner {
    transform: translateX(2000px);
    transition: transform 1s;
    text-transform: uppercase;
    background-color: #fff;
    color: #2f2f2f;
    max-width: 470px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;

    &__title {
      height: 193px;
      background-color: #ff943d;
      color: #fff;
      font-size: 60px;
      font-weight: 400;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;

      span {
        font-size: 50px;
      }
    }

    &__cart-items {
      padding: 0 65px;
    }

    &__cart-item {
      padding: 35px 0;
      border-bottom: 1px solid #d9d9d9;
      display: flex;
    }

    &__total {
      padding: 35px 0;
      display: flex;
      flex-direction: column;
      font-size: 30px;
      font-family: 'Gilroy';
      font-weight: 300;

      .total {
        font-size: 48px;
      }
    }

    &__btn-action-wrap {
      border-top: 1px solid #d9d9d9;
    }

    &__btn-action {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
      max-width: 300px;
      width: 100%;
      height: 65px;
      background-color: #faa21b;
      border-radius: 5px;
      color: #fff;
      font-family: 'Gilroy';
      font-weight: 800;
      text-decoration: none;
      transition: all 0.5s;

      &:hover, &:focus {
        background-color: #323232;
        transition: all 0.5s;
      }
    }
  }
}
.cart-item {

  &__disc {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Gilroy';
    font-weight: 300;
  }

  &__pic {
    width: 60px;
    height: 110px;
    margin-right: 35px;
  }

  &__title {
    font-size: 18px;
    line-height: 1.2;
    color: #2f2f2f;
    display: flex;
    flex-direction: column;
  }
  &__quantity {}
  &__price {
    font-weight: 800;
  }
}